{{ form_start(form, {'attr':{'class': 'navbar-form navbar-left', 'action': path('handle_search_book'), 'role': 'search'} }) }}

<div class="form-group">
    {{ form_row(form.book_title, {'attr':{'class': 'form-control'} }) }} 
</div>

<div class="form-group">
    {{ form_row(form.genre,      {'attr':{'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_row(form.author,     {'attr':{'class': 'form-control'} }) }} 
</div>

<input type="submit" class="btn btn-small btn-primary" value="Search">

{{ form_end(form) }}