<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endblock stylesheets %} 
</head>
    
<body>
    
    {% block content %}{% endblock %}
    
    {% block javascripts %}{% endblock %}
    
</body>

</html>
