{% trans_default_domain 'FOSUserBundle' %}


<div class ="row">
    <div class="col-md-offset-3 col-md-6">
        
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
        
        {{ form_widget(form.first_name, { 'attr': {'placeholder': 'First Name', 'class': 'form-control' } }) }}
        
        {{ form_widget(form.email, { 'attr': {'placeholder': 'E-mail', 'class': 'form-control' } }) }}
        
        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Password', 'class': 'form-control' } }) }}
        
        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Confirm password', 'class': 'form-control' } }) }}
        
        <div>
            <input class="btn btn-small btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}

    </div>
</div>
