{% extends 'base.html.twig' %}
        
{% block title %} Books Page {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}
    
{% block content %}
    
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        
        {{ render(controller('AppBundle:Filter:searchBar')) }}
        
    </div>
</nav>
    
    <h1>Books Page</h1>                                                                            
    
    
        <div class="col-xs-12 col-md-12">
                    
            {% if books %}

            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Isbn</th>
                    <th>Genre</th>
                    <th>Author</th>
                </tr>

                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.genre }}</td>
                        <td>
                            {% for author in book.authors %}
                                {{ author.fullName }}{% if loop.index != loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% else %}

                <h3>No Search Result</h3>

            {% endif %}
        </div>
    
{% endblock %}