{# empty Twig template #}
<h3>У нас новое поступление</h3>

<p>Привет, {{ subscriber }}!</p>

    <h4>Новая книга:</h4>
    <p>Title: {{ title }}</p>
    <p>Author: {{ author }}</p>
    <p>Genre: {{ genre }}</p>


Спасибо!

