{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class ="row">
    <div class="col-md-offset-3 col-md-6">
    <h2 class="form-signin-heading">Please LogIn</h2>

        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" role="form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required="required" autocomplete="email" />

            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password" autocomplete="current-password" />

            <label class="checkbox">
                  <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember Me
            </label>


            <input type="submit" id="_submit" class="btn btn-small btn-primary" name="_submit" value="{{ 'Submit' }}" />

        </form>
    </div>
</div>