{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class ="row">
    <div class="col-md-offset-3 col-md-6">
    {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
