{% extends 'base.html.twig' %}
        
{% block title %} Books Page {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}
    

{% block content %}
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        {# SHOW SEARCH BLOCK FOR ONLY AUTHORIZED USERS  #}
        {% if is_granted('ROLE_USER') %}
            <div class="container">
                {{ render(controller('AppBundle:Filter:searchBar')) }}
            </div>
        {% endif %}
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1><a href="{{ path('books_page') }}">Click here!</a></h1>
            </div>
        </div>
    </div>

{% endblock %}